<div class="d-flex flex-col justify-content-center table-bordered border shadow">
    @Html.ActionLink("Register Jobseeker", "Register_Jobseeker_Load", "Register_JobSeeker")
    @Html.ActionLink("Register Employer", "Register_Load", "Register_Employer")
</div>
