@model JobPortalMVC.Models.EmployerHomeModel
@{
    ViewBag.Title = "Employer_Load";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-danger">Welcome @ViewBag.empname</h1>
<div class="d-flex justify-content-center align-items-center"></div>

@*<div>
    @using (Html.BeginForm())

</div>*@

